* {
    box-sizing: border-box;
}

body {
    margin: 20px 20px;
    padding: 0;
    font-family: "Inter" , sans-serif;
    animation: fadeIn 1.5s ease-out;
}

.nav-header-mobile {
    display: none;
}

.mobile-menu {
    display: none;
}
.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgba(236, 236, 236, 0.6);
    margin: 0 100px;
    max-width: 100%;
   }
   

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    
   }

.nav-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    color:#A9A9A9;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.navigation,
.nav-icons {
  flex: 1;
  
}

.nav-menu-items {
    margin: 0 15px;
    padding: 0 1px; 
}

.nav-menu-items.work {
    font-size: 15px;
    font-weight: 400;
    color: black;
    cursor: none;
}

.nav-menu-items:hover {
    font-weight: 400;
    padding: 0 1px;
    transition: 0.3s;
    cursor: pointer;
}


nav.name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.name {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    

}
.nav-icons {
    display: flex;
    justify-content: flex-end;
    
}

.photo.linkedin {
    height: 25px;
    width: 25px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.photo.instagram {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.photo.gmail {
    height: 25px;
    width: 25px;
    position: relative;
    top: 1.5px;
    cursor: pointer;
    
}

.photo {
    margin: 0 8px;
}

.icon {
    border: none;
    background-color: rgba(0,0,0,0);
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 100px 0;
}

.portfolio-title {
    font-size: 55px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 650;
    padding: 0;
    margin: 100px 0 15px 0;
}

.portfolio-text {
    font-size: 15px;
    font-weight: 300;
    color: #A9A9A9; 
    padding: 0;
    margin: 5px;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    

}


.landscape-img {
     background-image: url("img/landscape-wp.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 480px;
    width: 700px;  
}


.travel-img {
    background-image: url("img/travel-wp.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 480px;
    width: 700px;   
}

.portrait-img {
    background-image: url("img/portrait-wp.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 480px;
    width: 700px;  
}

.box {
    display: flex;
    background-color: #F2F2F2;
    height: 480px;
    width: 450px;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    font-family: "Libre Franklin", sans-serif;
}
.portrait,
.travel,
.landscape {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    max-width: 100%;
}

.travel {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    max-width: 100%;
}

.landscape:hover .landscape-box,
.travel:hover .travel-box,
.portrait:hover .portrait-box {
    background-color: black;
    color: white;
    cursor: pointer;
}

.landscape:hover .landscape-img,
.portrait:hover .portrait-img,
.travel:hover .travel-img {
    filter: brightness(65%); 
    cursor: pointer;
}

.landscape:active .landscape-box,
.travel:active .travel-box,
.portrait:active .portrait-box {
    background-color: black;
    color: white;
    cursor: pointer;
}

.landscape:active .landscape-img,
.portrait:active .portrait-img,
.travel:active .travel-img {
    filter: brightness(65%); 
    cursor: pointer;
}


.travel-img,
.portrait-img,
.landscape-img {
    transition: filter 0.4s ease;
}
.travel-box,
.portrait-box,
.landscape-box {
    transition: background-color 0.4s, color 0.4s;
}


.footer {
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: #A9A9A9;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 140px 0 140px 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Responsive styles for mobile */
@media (max-width: 860px) {
.landscape-text.text {
    text-align: center;
}
}
@media (max-width: 840px) {
  
.name {
    font-size: 22px;
    white-space: nowrap;
}    
    
 .nav-icons,
 .navigation {
    display: none;
 }   

 .mobile-menu {
    display: flex;
    position: relative;
    left: 35px;

 }
 .menu-toggle {
    display: none;
 }


 .menu-icon {
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }

.portrait,
.travel,
.landscape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    max-width: 100%;
}

.portfolio  {
    margin: -20px 0 0 0;
}
.portfolio-title {
    font-size: 22px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 650;
    padding: 0;
    margin: 100px 0 15px 0;
    }
    
.portfolio-text {
    font-size: 12px;
    font-weight: 300;
    color: #A9A9A9; 
    padding: 0;
    margin: 5px;
    }
.landscape-img {
    background-image: url("img/landscape-wp.webp");
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
   height: 240px;
   width: 350px;  
}


.travel-img {
   background-image: url("img/travel-wp.webp");
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
   height: 240px;
   width: 350px;  
}  

.portrait-img {
   background-image: url("img/portrait-wp.webp");
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
   height: 240px;
   width: 350px;  
}

.box {
   display: flex;
   background-color: #F2F2F2;
   height: 100px;
   width: 350px;
   color: black;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   font-weight: 600;
   font-family: "Libre Franklin", sans-serif;
}

.footer {
    font-size: 10px;
}

}