* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Gill Sans MT;
    background-image: url("img/sarek.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "enterbtn" "links";
    justify-content:center;
}
  h1 {
    color: white;
    grid-area: name;
  }

  .btn {
    grid-area: enterbtn;
  }

  .links {
    grid-area: links;
  }

  .icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
  }

  .photo
  {
    height: 15px;
    width: 15px;
    position: relative;
  }

  .photo.instagram {
    top: 1px;
  }

  .photo.gmail {
    position: center;
  }
 