* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Gill Sans MT;
    background-image: url("img/sarek.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  h1 {
    color: red;
  }

